<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets>
  <CodeSnippet> 
    <Header>
      <Title>Log</Title>
      <Shortcut>log</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[Debug.Log($$"{$end$}");]]>
      </Code>    
    </Snippet>
  </CodeSnippet> 
</CodeSnippets>