<CodeSnippets>

  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>DebugLog</Title>
      <Shortcut>log</Shortcut>
    </Header>
    <Snippet>
      
      <Code Language="CSharp">
        <![CDATA[Debug.Log($$"{$end$}");]]>
      </Code>

    </Snippet>
  </CodeSnippet> 

</CodeSnippets>