<CodeSnippets>
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>IfUnityEditor</Title>
      <Shortcut>ifunityeditor</Shortcut>
    </Header>
    <Snippet>
      
      <Code Language="CSharp">
        <![CDATA[#if UNITY_EDITOR
$end$
#endif]]>
      </Code>
            
      <Declarations>      
      </Declarations>
      
    </Snippet>
  </CodeSnippet> 
</CodeSnippets>