<CodeSnippets>
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>InspectorHeader</Title>
      <Shortcut>inspheader</Shortcut>
    </Header>
    <Snippet>
      
      <Code Language="CSharp">
        <![CDATA[[Header("$NAME$")]$end$]]>
      </Code>

      <Declarations>
        <Literal>
          <ID>NAME</ID>
          <Default>NAME</Default>
        </Literal>
      </Declarations>
      
    </Snippet>
  </CodeSnippet> 
</CodeSnippets>