<CodeSnippets>

  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>StaticInitialize</Title>
      <Shortcut>staticinit</Shortcut>
    </Header>
    <Snippet>

      <Code Language="CSharp">
        <![CDATA[[RuntimeInitializeOnLoadMethod(RuntimeInitializeLoadType.BeforeSceneLoad)]
static private void StaticInitialize()
{
    $end$
}]]>
      </Code>

    </Snippet>
  </CodeSnippet>

</CodeSnippets>